{% extends '/manager/base.html' %} 
{% block title %} Demande {% endblock %} 
{% block content %}
<h1>details demande</h1>
<div style="float:right; margin-right: 50px; width: 500px;">
  <div style="float: left;">
    <form>
      <button type="submit" class="btn btn-success">Accepter la demande</button>
    </form>
  </div>
  <div style="float: right;">
    <form action="/manager/demande/proposition">
      <button type="submit" class="btn btn-danger">Proposer une nouvelle date</button>
    </form>
  </div>
</div>
{% endblock %}