{% extends '/manager/base.html' %}
{% block title %} Liste des demandes {% endblock %} 
{% block content %}
<table class="table table-hover" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Employé</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Soldes disponibles</th>
    </tr>
  </thead>
  <tbody>
    {% for demande in demandes %}
    <tr
      class="table-secondary"
      onclick="window.location='/manager/demande';"
      style="cursor: pointer"
    >
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
