{% extends '/manager/base.html' %}
{% block title %} Liste des demandes {% endblock %} 
{% block content %}
<table class="table table-hover" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Employé</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Soldes disponibles</th>
    </tr>
  </thead>
  <tbody>
    {% for demande in demandes %}
    <tr
      class="table-secondary"
      onclick="window.location='/manager/demande/{{ demande.id }}';"
      style="cursor: pointer"
    >
      <td>{{ demande.employee_matricule }}</td>
      <td>{{ demande.date_debut }}</td>
      <td>{{ demande.date_fin }}</td>
      <td>{{ getSoldes(demande.employee_matricule) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ error }}
{% endblock %}
