{% extends '/GRH/base.html' %} {% block title %} Profil {% endblock %} 
{% block content %}
<div>
  <img
    src="{{ url_for('static', filename='missing-profile-photo.png') }}"
    alt="Not found"
    onerror="this.src='static/missing-profile-photo.png';"
    style="float: left"
  />
</div>
<table class="table table-hover" style="line-height: 0.5">
  <tbody>
    <tr class="table-primary">
      <th scope="row">Matricule</th>
      <td>{{ user[0] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Nom et prénom</th>
      <td>{{ user[1] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Date et lieu de naissance</th>
      <td>{{ user[7] }} / {{ user[8] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Poste</th>
      <td>{{ user[9] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Service</th>
      <td>{{ user[10] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Site</th>
      <td>{{ user[4] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Profil</th>
      <td>{{ user[11] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Congé acquis (N)</th>
      <td>{{ user[5] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Congé acquis (N - 1)</th>
      <td>{{ user[6] }}</td>
    </tr>
  </tbody>
</table>


<div style="text-align: center;">
  <form method="POST" action="demande_compte/{{ user_id }}/approuver">
    <button type="Submit" class="btn btn-success">Approuver ce compte</button>
  </form>
</div>
<br />
{{ error }}
{% endblock %}
