{% extends '/GRH/base.html' %} 
{% block title %} Demande {% endblock %} 
{% block content %}
<div class="form-group">
  <label class="form-label mt-4" for="readOnlyInput">Date de début</label>
  <input
    class="form-control"
    id="readOnlyInput"
    type="text"
    value={{
    demande.date_debut
    }}
    readonly=""
  />
</div>
<div class="form-group">
  <label class="form-label mt-4" for="readOnlyInput">Date de fin</label>
  <input
    class="form-control"
    id="readOnlyInput"
    type="text"
    value={{
    demande.date_fin
    }}
    readonly=""
  />
</div>
<br />
<div style="float:right; margin-right: 50px; width: 500px;">
  <div style="float: left;">
    <form>
      <button type="submit" class="btn btn-success">Accepter la demande</button>
    </form>
  </div>
  <div style="float: right;">
      <button type="submit" class="btn btn-danger" 
      onclick="window.location='/GRH/demande_congé/{{ demande.id }}/refuser';">
        Refuser la demande
      </button>
  </div>
</div>

{{ error }}
{% endblock %}
