{% extends '/GRH/base.html' %} {% block title %} Demande {% endblock %} {% block
content %}
<div style="padding-left: 10px;">
  <div class="form-group">
    <label class="form-label mt-4" for="readOnlyInput">Date de début</label>
    <input
      class="form-control"
      id="readOnlyInput"
      type="text"
      value={{
      demande.date_debut
      }}
      readonly=""
    />
  </div>
  <br>
  <div class="form-group">
    <label class="form-label mt-4" for="readOnlyInput">Date de fin</label>
    <input
      class="form-control"
      id="readOnlyInput"
      type="text"
      value={{
      demande.date_fin
      }}
      readonly=""
    />
  </div>
  <br />
  {% if demande.statut == 'Accepted By Manager' %}
  <br />
  <div style="float: right; margin-right: 50px; width: 500px">
    <div style="float: left">
      <form
        action="/GRH/demande_congé/{{ demande.id }}/approuver"
        method="POST"
      >
        <button type="submit" class="btn btn-success">
          Accepter la demande
        </button>
      </form>
    </div>
    <div style="float: right">
      <button
        type="submit"
        class="btn btn-danger"
        onclick="window.location='/GRH/demande_congé/{{ demande.id }}/refuser';"
      >
        Refuser la demande
      </button>
    </div>
  </div>

  {% elif demande.statut == 'Processing' %}
  <br />
  <div style="text-align: center">
    <h4>Yet to be accepted by manager</h4>
  </div>
 {{ error }}
  {% elif demande.statut == 'Modified By Manager' %}
  <br />
  <div style="text-align: center;">
    <h4>
      Yet to be accepted by employee (proposition)
    </h4>
  </div>
  {% endif %}

</div>

{% endblock %}
