{% extends '/GRH/base.html' %} {% block title %} Gestion des comptes {% endblock
%} {% block content %}
<br />
<div class="d-grid gap-2">
  <button
    class="btn btn-lg btn-primary"
    type="button"
    onclick="window.location='demandes_congé';"
    style="cursor: pointer"
  >
    Liste des demandes de congé
  </button>
  <br />
  <div class="d-grid gap-2">
    <button
      class="btn btn-lg btn-primary"
      type="button"
      onclick="window.location='demandes_congé_en_attente';"
      style="cursor: pointer"
    >
      Liste des demandes de congé non-approuvées par le manager
    </button>
  </div>
  {% endblock %}
</div>
