{% extends '/GRH/base.html' %}
{% block title %} Motif {% endblock %}
{% block content %}
<table class="table table-hover" style="width: 100%">
  <thead>
    <tr>
      <th scope="col">Employé</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
    </tr>
  </thead>
  <tbody>
    <trColumn
      class="table-secondary"
      onclick="window.location='demande_congé/{{ demande.id }}';"
      style="cursor: pointer"
    >
      <td>{{ demande.employee_matricule }}</td>
      <td>{{ demande.date_debut }}</td>
      <td>{{ demande.date_fin }}</td>
    </tr>
  </tbody>
</table>
<form action="/GRH/demande_congé/{{ demande.id }}/refuser" method="POST">
  <div class="form-group">
    <label for="exampleSelect1" class="form-label mt-4">Motif</label>
    <select class="form-select" name="motif" required>
      <option>Motif 1</option>
      <option>Motif 2</option>
      <option>Motif 3</option>
    </select>
  </div>
  <br />
  <button type="submit" class="btn btn-danger">Refuser et envoyer motif</button>
</form>
{% endblock %}
