{% extends '/GRH/base.html' %} 
{% block title %} Profil {% endblock %} 
{% block content %}
<div>
  <img
    src="{{ url_for('static', filename='missing-profile-photo.png') }}"
    alt="Not found"
    onerror="this.src='static/missing-profile-photo.png';"
    style="float: left"
  />
</div>
<table class="table table-hover" style="line-height: 0.5">
  <tbody>
    <tr class="table-primary">
      <th scope="row">Matricule</th>
      <td>{{ user[0] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Nom et prénom</th>
      <td>{{ user[1] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Date et lieu de naissance</th>
      <td>{{ user[2] }} / {{ user[3] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Site</th>
      <td>{{ user[4] }}</td>
    </tr>
    <tr class="table-primary">
      <th scope="row">Profil</th>
      <td>{{ user[5] }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
