<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/bootstrap.css" />
  </head>
  <body>
    <div class="card border-primary mb-3" style="
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;">
      <div class="card-body">
        <h4 class="card-title">Login</h4>
        <p class="card-text">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1" class="form-label mt-4"
                    >Email address</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    style="width: 100%;"
                  />
                </div>
                <div class="form-group">
                    <label class="form-label mt-4"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      aria-describedby="emailHelp"
                      placeholder="Enter password"
                      style="width: 100%;"
                    />
                  </div>
                  <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </p>
      </div>
    </div>
  </body>
</html>
