<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <div>
          <img src="/static/g22.png" width="200" height="60" />
        </div>
      </div>
    </nav>
    <br />
    <br />
    <div class="alert alert-dismissible alert-primary">
      <h2>{{ message }}</h2>
    </div>
  </body>
</html>
