<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sign in</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/bootstrap.css" />
  </head>
  <body>
    <div class="card border-primary" style="
    padding-top: 150px;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;">
      <div class="card-body" style="border: 1px solid black !important;">
        <h4 class="card-title">Sign in</h4>
        <p class="card-text">
            <form action="/signin" method="POST">
                <div class="form-group">
                  <label class="form-label mt-4"
                    >Matricule</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="matricule"
                    placeholder="Enter matricule"
                    style="width: 100%;"
                    required
                  />
                </div>
                <div class="form-group">
                    <label class="form-label mt-4"
                      >Password</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Enter password"
                      style="width: 100%;"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label mt-4">Role</label>
                    <select class="form-select" name="role" required>
                      <option>Manager</option>
                      <option>GRH</option>
                      <option>Employé</option>
                    </select>
                  </div>
                  <br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </p>
      </div>
    </div>
    {% if error %}
        {{ error }}
    {% endif %}
  </body>
</html>