{% extends '/user/base.html' %} {% block title %} Demande {% endblock %} {%
block content %}
<div class="form-group">
  <label class="form-label mt-4" for="readOnlyInput">Date de début</label>
  <input
    class="form-control"
    id="readOnlyInput"
    type="text"
    value={{
    demande.date_debut
    }}
    readonly=""
  />
</div>
<div class="form-group">
  <label class="form-label mt-4" for="readOnlyInput">Date de fin</label>
  <input
    class="form-control"
    id="readOnlyInput"
    type="text"
    value={{
    demande.date_fin
    }}
    readonly=""
  />
</div>
<br />
{% if demande.statut == 'Processing' %}

<button
  style="float: left; margin-right: 50px"
  class="btn btn-warning"
  onclick="window.location='demande/{{ demande.id }}/edit';"
>
  Modifier la demande
</button>

<form action="/employé/demande/{{ demande.id }}/delete" method="POST">
  <button type="Submit" class="btn btn-danger">Annuler la demande</button>
</form>

{% elif demande.statut == 'Refused' %}

<h2>Motif : {{ demande.motif_refus }}</h2>

{% elif demande.statut == 'Modified By Manager' %}

<form 
  style="float: left; margin-right: 50px" 
  action="/employé/demande/{{ demande.id }}/accepter_proposition"
  method="POST">
    <button class="btn btn-warning" type="submit">
      Accepter la proposition
    </button>
</form>

<form action="/employé/demande/{{ demande.id }}/delete" method="POST">
  <button type="Submit" class="btn btn-danger">Annuler la demande</button>
</form>

{% endif %} {{ error }} {% endblock %}
