{% extends '/user/base.html' %} {% block title %} Nouvelle Demande {% endblock
%} {% block content %}
<form action="/employé/nouvelle_demande" method="POST">
  <legend>Nouvelle demande de congé</legend>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Matricule</label>
    <div class="col-sm-10">
      <input
        type="text"
        readonly=""
        class="form-control-plaintext"
        value={{
        user.matricule
        }}
      />
    </div>
  </div>
  <div class="form-group">
    <label class="form-label mt-4">Date de début</label>
    <input type="date" name="debut" class="form-control" />
  </div>
  <div class="form-group">
    <label class="form-label mt-4">Date de fin</label>
    <input type="date" name="fin" class="form-control" />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{ error }}
{% endblock %}
